
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/clockpicker/dist/bootstrap-clockpicker.min.css">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/clockpicker/dist/bootstrap-clockpicker.min.js"></script>
<title>ClockPicker Example</title>
</head>
<body>
    <div class="input-group clockpicker" data-placement="top" data-align="top" data-autoclose="true">
        <input type="text" class="form-control" value="12:00">
        <span class="input-group-addon">
            <span class="glyphicon glyphicon-time"></span>
        </span>
    </div>
    <script>
        $('.clockpicker').clockpicker();
    </script>
</body>
</html>

