{% extends 'base.html' %}
{% load static %}

{% block title %}
{% endblock %}

{% block content %}
<!-- 모달 창 -->
{% if create_limit %}
<div class="modal fade" id="maxRoomsModal" tabindex="-1" aria-labelledby="maxRoomsModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="maxRoomsModalLabel">방 생성 제한</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                이미 3개 이상의 방에 참여하셨습니다. 더 이상 방을 생성할 수 없습니다.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
            </div>
        </div>
    </div>
</div>
{% endif %}
<div class="create-room">
    <form class="create-room-form" action="{% url 'matching:create' %}" method="post">
        {% csrf_token %}
        <div class="direction-container">
            <div class="form-floating locations">
                <input class="form-control" id="departure-area" name="departure_area" value="{{ departure_area }}">
                <label for="departure_area">출발 지점을 입력하세요.</label>
            </div>
            <img class="img-direction" src="{% static 'img/moveto.png' %}" alt="Image 2">
            <div class="form-floating locations">
                <input class="form-control" id="destination-area" name="destination_area" value="{{ destination_area }}">
                <label for="destination_area">도착 지점을 입력하세요.</label>
            </div>
        </div>
        <p class="error-msg">{{ error_msg_area }}</p>
        <hr>
        <div>
            <p>출발일</p>
            <input type="date" name="departure_date" id="departure-date" value="{{ departure_date }}">
        </div>
        <div>
            <p>출발 시간</p>
            <input type="time" id="departure-time" name="departure_time">
        </div>
        </div>
        <p class="error-msg">{{ error_msg_date_time }}</p>
    
        <div class="create-container">
            <p>좌석 선택</p>
            <div class="create-option">
                <div class="seat-container">
                    <label for="rating0" class="seat-option">
                        <img src="{% static 'img/selected_seat.png' %}" alt="Image 0" class="disabled">
                    </label>
                    <input type="radio" name="seat_num" id="rating1" value="1" class="hidden-radio" {% if seat_num == "1" %}checked{% endif %}>
                    <label for="rating1" class="seat-option">
                        {% if seat_num == "1" %}
                        <img src="{% static 'img/selected_seat.png' %}" alt="Image 1">
                        {% else %}
                        <img src="{% static 'img/seat.png' %}" alt="Image 1">
                        {% endif %}
                    </label>
                </div>
                <div class="seat-container">
                    <input type="radio" name="seat_num" id="rating2" value="2" class="hidden-radio" {% if seat_num == "2" %}checked{% endif %}>
                    <label for="rating2" class="seat-option">
                        {% if seat_num == "2" %}
                        <img src="{% static 'img/selected_seat.png' %}" alt="Image 2">
                        {% else %}
                        <img src="{% static 'img/seat.png' %}" alt="Image 2">
                        {% endif %}
                    </label>
                    <input type="radio" name="seat_num" id="rating3" value="3" class="hidden-radio" {% if seat_num == "3" %}checked{% endif %}>
                    <label for="rating3" class="seat-option">
                        {% if seat_num == "3" %}
                        <img src="{% static 'img/selected_seat.png' %}" alt="Image 3">
                        {% else %}
                        <img src="{% static 'img/seat.png' %}" alt="Image 3">
                        {% endif %}
                    </label>
                    <input type="radio" name="seat_num" id="rating4" value="4" class="hidden-radio" {% if seat_num == "4" %}checked{% endif %}>
                    <label for="rating4" class="seat-option">
                        {% if seat_num == "4" %}
                        <img src="{% static 'img/selected_seat.png' %}" alt="Image 4">
                        {% else %}
                        <img src="{% static 'img/seat.png' %}" alt="Image 4">
                        {% endif %}
                    </label>
                </div>
                <p class="error-msg">{{ error_msg_seat }}</p>
            </div>
            <div class="create-option-row">
                <div>
                    <input type="radio" name="max_num" value="3" id="rating3">
                    <label for="rating3">최대 3인 매칭</label>
                </div>
                <div>
                    <input type="radio" name="max_num" value="4" id="rating4" checked>
                    <label for="rating4">최대 4인 매칭</label>
                </div>
            </div>
            <p class="error-msg error-msg-max-num">{{ error_msg_max_num }}</p>
        </div>
        <button type="submit" class="create-room-button">방 생성하기</button>
    </form>
</div>
<script>
    var staticSeatImage = "{% static 'img/seat.png' %}";
    var staticSelectedSeatImage = "{% static 'img/selected_seat.png' %}";
</script>
<script>
    $(document).ready(function(){
        $(document).ready(function(){
        // 기본적으로 선택된 라디오 버튼 값을 가져옴

        $(".seat-option img").click(function() {
            // 클릭한 이미지의 부모 라벨 요소
            var label = $(this).parent("label");
            // 클릭한 이미지의 연결된 input 요소
            var input = label.next("input[type='radio']");

            // 이미지 클래스가 disabled가 아닌 경우에만 처리
            if (!label.find("img").hasClass("disabled")) {
                // 이미지 클릭 시 연결된 input 체크
                input.prop("checked", true);

                // 모든 이미지 초기화 (선택되지 않은 상태로 변경)
                $(".seat-option img:not(.disabled)").attr("src", "{% static 'img/seat.png' %}");
                $(".seat-option img:not(.disabled)").removeClass("checked");
                // 클릭한 이미지만 선택된 이미지로 변경
                label.find("img").attr("src", "{% static 'img/selected_seat.png' %}");
                label.find("img").addClass("checked");
            }

        });
    });
    });
</script>
<script>
    const currentDate = new Date();
    const year = currentDate.getFullYear();
    const month = String(currentDate.getMonth() + 1).padStart(2, '0');
    const monthh = String(currentDate.getMonth() + 2).padStart(2, '0');
    const day = String(currentDate.getDate()).padStart(2, '0');
    const minDate = `${year}-${month}-${day}`;
    const maxDate = `${year}-${monthh}-${day}`;

    const selectedDateInput = document.getElementById('departure-date');
    selectedDateInput.min = minDate;
    selectedDateInput.max = maxDate;
</script>
{% endblock %}
