{% extends 'base.html' %}
{% load static %}

{% block title %}
{% endblock %}

{% block content %}
<!-- 모달 창 -->
{% if create_limit %}
<div class="modal fade" id="maxRoomsModal" tabindex="-1" aria-labelledby="maxRoomsModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="maxRoomsModalLabel">방 신청 제한</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                이미 3개 이상의 방에 참여하셨습니다. 더 이상 방에 참여할 수 없습니다.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function() {
        // 모달 띄우기
        $('#maxRoomsModal').modal('show');
    });
    $('#maxRoomsModal').on('hidden.bs.modal', function () {
            window.location.href = "{% url 'matching:main' %}";
        });
</script>
{% else %}
<div class="apply-room">
    <form action="{% url 'matching:apply' matching_room.pk %}" method="post">{% csrf_token %}
        <div class="direction-container">
            <div class="form-floating locations">
                <input class="form-control" placeholder="" id="floatingTextarea" name="departure_area" value="{{ matching_room.departure_area }}" disabled></input>
                <label for="floatingTextarea">출발 지점</label>
            </div>
            <img class="img-direction" src="{% static 'img/moveto.png' %}" alt="Image 2">
            <div class="form-floating locations">
                <input class="form-control" placeholder="" id="floatingTextarea" name="departure_area" value="{{ matching_room.destination_area }}" disabled></input>
                <label for="floatingTextarea">도착 지점</label>
                
            </div>
        </div>
        <div class="direction-container">
            <div class="matching-date">
                <p>출발 날짜</p>
                <input type="date" name="departure_date" id="create-departure_date" value="{{ matching_room.departure_date|date:'Y-m-d' }}" disabled>
            </div>
            <div class="matching-time">
                <p>출발 시간</p>
                <input type="time" class="form-control" value="{{ matching_room.departure_time|time:'H:i' }}" name="departure_time">
            </div>
        </div>

    <p class="apply-current_num">현재인원: {{matching_room.current_num}} / 최대인원: {{matching_room.max_num}}</p>

        <div class="apply-container">
            <p>좌석 선택</p>
            <div class="apply-option">
                <div class="seat-container">
                    <label for="rating0" class="seat-option">
                        <img src="{% static 'img/selected_seat.png' %}" alt="Image 0" class="disabled">
                    </label>
                    <input type="radio" name="seat_num" id="rating1" value="1" class="hidden-radio" {% if "1" in selected_seats %} 
                    disabled {% endif %}>
                    <label for="rating1" class="seat-option">
                        {% if "1" in selected_seats %} 
                            <img src="{% static 'img/selected_seat.png' %}" alt="Image 1" class ="disabled">
                        {% else %}
                            <img src="{% static 'img/seat.png' %}" alt="Image 1">
                        {% endif %}
                    </label>

                </div>
                <div class="seat-container">
                    <input type="radio" name="seat_num" id="rating2" value="2" class="hidden-radio" {% if "2" in selected_seats %} 
                    disabled {% endif %}>
                    <label for="rating2" class="seat-option">
                        {% if "2" in selected_seats %} 
                            <img src="{% static 'img/selected_seat.png' %}" alt="Image 2" class ="disabled">
                        {% else %}
                            <img src="{% static 'img/seat.png' %}" alt="Image 2">
                        {% endif %}
                    </label>
                    <input type="radio" name="seat_num" id="rating3" value="3" class="hidden-radio" {% if "3" in selected_seats %} 
                    disabled {% endif %}>
                    <label for="rating3" class="seat-option">
                        {% if "3" in selected_seats %} 
                            <img src="{% static 'img/selected_seat.png' %}" alt="Image 3" class ="disabled">
                        {% else %}
                            <img src="{% static 'img/seat.png' %}" alt="Image 3">
                        {% endif %}
                    </label>
                    <input type="radio" name="seat_num" id="rating4" value="4" class="hidden-radio" {% if "4" in selected_seats %} 
                    disabled {% endif %}">
                    <label for="rating4" class="seat-option">
                        {% if "4" in selected_seats %} 
                            <img src="{% static 'img/selected_seat.png' %}" alt="Image 4" class ="disabled" >
                        {% else %}
                            <img src="{% static 'img/seat.png' %}" alt="Image 4">
                        {% endif %}
                    </label>
                </div>
            </div>
        </div>
        <p class="error-msg">{{ error_msg_seat }}</p>
        <button type="submit" class="apply-room-button">방 신청하기</button>
    </form>
</div>
<script>
    var staticSeatImage = "{% static 'img/seat.png' %}";
    var staticSelectedSeatImage = "{% static 'img/selected_seat.png' %}";
</script>
<script>
    $(document).ready(function(){
        // 기본적으로 선택된 라디오 버튼 값을 가져옴

        $(".seat-option img").click(function() {
            // 클릭한 이미지의 부모 라벨 요소
            var label = $(this).parent("label");
            // 클릭한 이미지의 연결된 input 요소
            var input = label.next("input[type='radio']");

            // 이미지 클래스가 disabled가 아닌 경우에만 처리
            if (!label.find("img").hasClass("disabled")) {
                // 이미지 클릭 시 연결된 input 체크
                input.prop("checked", true);

                // 모든 이미지 초기화 (선택되지 않은 상태로 변경)
                $(".seat-option img:not(.disabled)").attr("src", "{% static 'img/seat.png' %}");
                $(".seat-option img:not(.disabled)").removeClass("checked");
                // 클릭한 이미지만 선택된 이미지로 변경
                label.find("img").attr("src", "{% static 'img/selected_seat.png' %}");
                label.find("img").addClass("checked");
            }

        });        
    });
</script>
{% endif %}

{% endblock %}





