:root{
    --gutter: 16px;
    --button-color:rgb(31, 144, 192);
    --grey_bg: #FBFBFA;
    --bg-color:#ebf4f8;
}

* { font-family: 'Spoqa Han Sans Neo', sans-serif; }

body{
    display: flex;
    justify-content: center;
    background-color: var(--bg-color);
}
.main-right{
    width: 80%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* .main-left{
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.main-left h1{
    font-size: 30px;
    font-weight: 900;
} */
main{
    width: 90%;
}

.main-container{
    margin-top: 65px;
    margin-bottom: 50px;
    width: 100%;
}


@media (min-width: 768px) {
    body {
        display: flex;
        justify-content: center;
        
    }
    main {
        width: 70%;
    }
    .main-container{
        margin-top: 20px;
        margin-bottom: 30px;
    }
}