* {
    box-sizing: border-box;
}

#chat-room {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#chat-log, #chat-field {
    width: 100%;
    padding: 15px;
}
#chat-log, #chat-message-input, #chat-message-submit {
    font-size: 11px;
}

#chat-log {
    border: none;
    background-color: white;
    overflow-y: auto; /* 세로 스크롤 */
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1;
}

#chat-log::-webkit-scrollbar {
    width: 5px; /* 스크롤바 너비 */
}
#chat-log::-webkit-scrollbar-thumb {
    background-color: #a3a3a3; /* 스크롤바 색상 */
    border-radius: 4px; /* 스크롤바 모서리 둥글게 */
}
#chat-log::-webkit-scrollbar-thumb:hover {
    background-color: #969696; /* 스크롤바 hover 시 */
}

.in-out-msg-div {
    padding: 3px 0;
    border-radius: 10px;
    display: flex;
    justify-content: center;
}

.in-out-msg-div > .in-out-msg {
    width: max-content;
    padding: 3px 15px;
    margin: 0;
    background-color: rgba(241, 241, 241, 0.5);
    border-radius: 8px;
    text-align: center;
    font-size: 10px;
}

.mine-div {
    display: flex;
    justify-content: right;
}
.msg-div > .name:hover {
    cursor: pointer;
}
.msg-div > .msg {
    width: max-content;
    max-width: 200px;
    padding: 10px;
    margin: 0;
    border-radius: 15px;
    background-color: #C0E8FF;
    word-wrap: break-word;
    white-space: pre-line;
}
.mine-div > .mine {
    background-color: #d5eccc;
}

#chat-field {
    height: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #f3f3f3;
    display: flex;
    justify-content: space-between;
}
#chat-message-input {
    border: none;
    padding: 0;
    outline: none;
    resize: none;
    overflow: hidden;
    flex: 1;
    background-color: #f3f3f3;
}
#chat-message-submit, #chat-room-leave {
    border: none;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
}
#chat-message-submit {
    background-color: #D9D9D9;
    color: rgb(163, 162, 162);
}
#chat-room-leave {
    padding: 5px 10px;
    margin: 10px;
}
#chat-message-submit:hover, #chat-room-leave:hover {
    cursor: pointer;
}

.report-modal .modal-header {
    border-bottom: none;
}
.report-modal .modal-body {
    text-align: center;
    font-size: 18px;
} 
.report-modal .modal-footer {
    border-top: none;
}
