.body{
    background-color: var(--bg-color);
}

.create-room{
    width: 100%;
    height: 100%;
}
.direction-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    margin: 5px auto;
    gap: 20px;
}
.create-room-form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 35px 0;
}
.create-departure_date, .create-departure_time{
    text-align: center;
}
.create-departure_date p, .create-departure_time p{
    font-size: 14px;
    color: skyblue;

    margin: 0;
}

.seat-option > img[alt="Image 0"] {
    pointer-events: none;
}

.create-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 14px;
    width: 90%;
}

.create-container > p{
    margin: 0;
    height: 10px;
    align-self: flex-start;
    margin: 0;
}

.create-option {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.seat-option > img {
    height: 30px;
    width: 30px;
}

.hidden-radio {
    display: none;
}

.seat-option > img {
    cursor: pointer;
    opacity: 0.5;
}

.seat-option > img:hover {
    opacity: 1;
}

.seat-option img.checked {
    opacity: 1;
}

.create-option-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.create-option-row > label{
    cursor: pointer;
}

.img-direction {
    height: 10px;
    width: 10px;
}

.locations {
    width: 45%;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    display: flex;
}

.locations > label {
    font-size: 10px;
}

.create-room-button{
    display: block;
    width: 80%;
    background-color: var(--button-color);
    text-align: center;
    border-radius: 10px;
    margin: 15px auto;
    
}

.seat-container{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
}
.error-msg {
    text-align: center;
    color: red;
    font-size: 12px;

    margin-bottom: 0px;
    margin-top: 15px;

    height: 20px;
}
.create-container .error-msg-max-num {
    width: 100%;
    margin-bottom: 20px;
}

.create-room-form hr{
    margin: 0;
    width: 90%;
}

.create-date-container{
    width: 90%;

    display: grid;
    justify-content: space-around;
    align-items: center;
}