#my-matching-history, #opened-room-list {
    margin-bottom: 40px;
}
#my-matching-history span {
    font-weight: bold;
}
.main-container ul {
    padding: 0;
    margin: 0;
}
.room > li {
    padding: 15px;
    margin-bottom: 20px;
    background-color: rgb(228, 228, 228);
    border-radius: 10px;
}
.room > li:hover {
    cursor: pointer;
}
.room > li > a {
    text-decoration: none;
    color: black;
}
.room > li > a:visited {
    color: black;
}