.body{
    background-color: var(--bg-color);
}
.mainpage{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.date-container{
    position: fixed;
    top: 55px;
    background-color: white;
    padding: 0 20px 0 20px;

    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.calendar-scroll-container{
    overflow-x: scroll;
    padding: 0 var(--gutter);
}
.search-dateall{
    width: 150px;
    font-size: 8px;
}
.calendar-content{
    display: flex;
    gap: 30px;
}
.calendar-content > div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.calendar-content > div > p{
    font-size: 15px;
    margin: 0;
}
.matchinglist-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.matchinglist-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    height: 50px;
    width: 95%;
}
.matchinglist-info > h2 {
    font-size: 20px;
    margin-bottom: 0;
}
.matchinglist-info > a > button {
    font-size: 12px;
}
.matchinglist-info > p {
    margin: 0;
}


.matchingroom-container {
    display: flex;
    gap: 5px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 3px;
    height: 100%;
    overflow-y: auto;

}

.matching-room {
    width: 95%;
    height: 95px;

    white-space: nowrap;
    border-radius: 10px;
    background-color: var(--grey_bg);
    margin-top: 2px;
    margin-bottom: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    
}
.matching-room:hover {
    cursor: pointer;
    transform: translateY(2px);
}

.matching-room--left{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}
.matching-room--left-top-m > h2 {
    margin: 0;
    font-size: 16px;
}
.matching-room--left-1{
    font-weight: 600;
    font-size: 18px;
    margin: 0;
}
.matching-room--left-2{
    color: #3F5387;
    font-weight: 200;
    font-size: 14px;
    margin: 0;
}
.matching-room--left-3{
    font-size: 16px;
    margin: 0;
    color: gray;
}
.matching--departure{
    display: flex;
    flex-direction: column;
}
.modal-dialog {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 240px;
    margin: auto;
}

.alarm-contents {
    display: flex;
    flex-direction: column;
}

.host-icon {
    display: inline-block;
    text-align: center;
    width: 25px;
    height: 25px;
    background: url("/static/img/host_icon.png") center center no-repeat;
    background-size: cover;
}

.selected_date{
    /* margin-top: 53px; */
    width: 100%;
    display: flex;
    justify-content: flex-start;
}


.main-date-choose{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin-left: 1.5%;
}
.main-date-input {
    padding: 8px;
    font-size: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.main-date-click{
    padding: 8px 15px;
    font-size: 12px;
    background-color: var(--button-color);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.main-date-click:hover {
    background-color: var(--button-color);
}

.modal-content {
    width:90%;
}

.matchinglist-modal-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
}

.modal-content .modal-header {
    border-bottom: none;
}


.matchinglist-modal-header, .matchinglist-modal-footer, .matchinglist-modal-body {
    border: none;
}

.matchinglist-modal-body {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 230px;
}

.matchinglist-modal-body h3 {
    line-height: 1.4;
}

#matching-button {
    background-color: var(--button-color);
}

.taxiimg {
    height:200px;
    width:200px;
}

/* -----달력------ */
.slider-container {
    position: relative;
    width: 95%;
    overflow: hidden;
    margin: auto;
  }
  
  .slider {
    display: flex;
    transition: transform 0.6s ease-in-out; /* Transition effect for smooth slide */
  }
  
  .slide {
    flex: 0 0 100%; 
    height: 60px; 
    /* background-color: #ccc; */
    padding: 5px;

    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .slide ul {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;

    margin: 0;
    padding: 0;
  }
  .slide ul li {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .slide ul li:hover {
    cursor: pointer;
  }

  .slide ul li p{
    margin: 0;
    font-size: 14px;
  }

  
  .prev-button,
  .next-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 16px;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  
  .prev-button {
    left: 5px;
  }
  
  .next-button {
    right: 5px;
  }
  





@media (min-width: 768px) {
    .matching-room {
        margin-bottom: 28px;
    }
    .date-container {
        position: static;
        background-color: white;
        margin-bottom: 5px;
        width: 100%;
        display: flex;
        justify-content: center;
    }
}



