@import "./chat.css";
@import 'reset.css';
@import 'matchinglist.css';
@import 'createroom.css';
@import 'calendar.css';



html, body {
    height: 100%;
}

.title {
    font-size: 20px;
    padding-left: 5px;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 82px;
    width: 100%;
    background-color: white;
}

.nav-container > h1 {
    margin-left: 5%;
}

.main-container {
    margin-top: 82px;
}


.search-room > button {
    width: 70px;
}

.search-container {
    padding: 5px;
}

.search-room {
    height: 30px;
    width: 190px;
    margin-right: 16px;
}
.search-room > input, .search-room > button {
    font-size: 10px;
}

.footer-container {
    display: flex;
    align-items: center;
    justify-content: center;  
    height: 70px;
    background-color: white;
}
.footer-items {
    width: 100%;
    display: flex;
    justify-content: space-around;

}
.footer-items > div {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer-section > div > a > img {
    height: 30px;
    width: 30px;
}

.footer-hr {
    border: none;
    height: 3px;
    box-shadow: 0 1.5px 2.5px black;
    margin: 5px 0 0 0;
}
.login-nav-right{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 8px;
    margin-right: 5%;
    gap: 10px;
}

.notice-img {
    height: 20px;
    width: 20px;
}
.hamburger-img {
    height: 25px;
    width: 25px;
}

.beforepage-img {
    height: 18px;
    width: 18px;
    margin: 0 0 11px 24px;
}