@import "./chat.css";
@import "./matchinghistory.css";
@import "./report.css";
@import 'reset.css';
@import 'matchinglist.css';
@import 'createroom.css';
@import 'calendar.css';
@import 'mypage.css';

.base--container{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.base--container nav{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
}
.nav-container{
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    width: 100%;
    align-items: center;
    margin-top: 10px;
}
.nav-right {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.nav-right-footer{
    /* 가려지는 부분 */
    display: none;
    /* font-size: 0; */
    
}

.footer-custom{
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    width: 100%;
    align-items: center;
}
.nav-title {
    font-size: 15px;
    margin: 0;
}
.nav-container img,
.footer-custom img{
    height: 25px;
    cursor: pointer;
}
.nav-container .beforepage-img{
    height: 20px;
}
.login-nav-right{
    display: flex;
    gap: var(--gutter);
}
.footer-custom{
    position: fixed;
    bottom: 0;
    background: rgb(181, 181, 181);
    height: 62px;
}

.search-room {
    display: flex;
    height: 30px;
}
.search-room > button {
    font-size: 10px;
    width: 60px;
}
.search-room > input {
    font-size: 10px;
    width: 130px;
}

.alarm-modal-body {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.alarm-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media (min-width: 768px) {
    .base--container nav{
        position: relative;
        width: 100%;
        background-color: white;
    }

    .footer-custom {
        display: none;
    }

    .nav-title {
        font-size: 20px;
        margin: 0;
    }
    .nav-right-footer{
        /* 가려지는 부분 */
        display: flex;
        flex-direction: row;
        gap: 20px;
        padding-left: 0;
    }
    .nav-right {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    
        width: 77%;
    }
    .nav-right-logo{
        width: 26%;
    }
}