{% extends 'base.html' %}
{% load static %}


{% block title %}
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
{% endblock %}

{% block content %}





    <div class="calendar">
        <div class="header">
            <div class="year-month"></div>
            <div class="calendar-nav">
                <button class="nav-btn go-prev" onclick="prevMonth()">&lt;</button>
                <button class="nav-btn go-today" onclick="goToday()">Today</button>
                <button class="nav-btn go-next" onclick="nextMonth()">&gt;</button>
            </div>
        </div>
        <div class="main">
            <div class="days">
                <div class="calendar-day">일</div>
                <div class="calendar-day">화</div>
                <div class="calendar-day">수</div>
                <div class="calendar-day">목</div>
                <div class="calendar-day">금</div>
                <div class="calendar-day">토</div>
                <div class="calendar-day">월</div>
            </div>
            <div class="dates"></div>
            {% for vacation in vacations %}
            <div>{{ vacation.departure_date }} ~ {{ vacation.arrival_date }}</div>
            {% endfor %}
        </div>
    </div>
    <script src="{% static 'js/calendar.js' %}"></script>
{% endblock %}