{% extends 'base.html' %}
{% load static %}


{% block title %}
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
{% endblock %}

{% block content %}





    <div class="calendar">
        <div class="header">
            <div class="year-month"></div>
            <div class="calendar-nav">
                <button class="nav-btn go-prev" onclick="prevMonth()">&lt;</button>
                <button class="nav-btn go-today" onclick="goToday()">Today</button>
                <button class="nav-btn go-next" onclick="nextMonth()">&gt;</button>
            </div>
        </div>
        <div class="main">
            <div class="days">
                <div class="calendar-day">일</div>
                <div class="calendar-day">화</div>
                <div class="calendar-day">수</div>
                <div class="calendar-day">목</div>
                <div class="calendar-day">금</div>
                <div class="calendar-day">토</div>
                <div class="calendar-day">월</div>
            </div>
            <div class="dates"></div>
            <form action="/vacation/create/" class="vacation-form" method="post">
                {% csrf_token %}
                <input type="date" class="vacation-departure_date-input" name="departure_date" placeholder="departure_date">
                <input type="date" class="vacation-arrival_date-input" name="arrival_date" placeholder="arrival_date">
                <button type="submit" class="vacation-submit">등록</button>
            </form>
            
            {% for vacation in vacations %}
            <div class="vacation-nth">
                <span>{{ forloop.counter }}차 휴가</span>
                <div class="vacation-myvacation">
                    <div class="col-5 vacation-departure_date">
                        {{ vacation.departure_date }}
                    </div>
                    <div class="col-5 vacation-arrival_date">
                        {{ vacation.arrival_date }}
                    </div>
                    <form class="col" action="/vacation/delete/{{vacation.id}}/" method="post">{% csrf_token %}
                        <button type="submit" class="vacation-submit-button">삭제</button>
                    </form>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <script src="{% static 'js/calendar.js' %}"></script>
{% endblock %}