{% extends 'base.html' %}

{% block content %}

<div id="chat-room">
    <div id="chat-log"></div>
    <div id="chat-field">
        <textarea id="chat-message-input"></textarea>
        <input id="chat-message-submit" type="button" value="전송" disabled>
    </div>
</div>
<input id="chat-room-leave" type="button" value="채팅방 나가기">

<!-- Modal -->
<div class="modal fade report-modal" id="exampleModal">
    <div class="modal-dialog">
        <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <span class="receiver-anon-name">xxxxxx</span> 님을 신고하시겠습니까?
                </div>
                <div class="modal-footer">
                    <form action="/report/form/" method="post">
                        {% csrf_token %}
                        <input type="hidden" class="anon-name" name="anon_name" value="xxxxxx">
                        <input type="hidden" class="room-uuid" name="room_uuid" value="xxxxxx">
                        <input type="submit" value="신고하기" class="btn btn-primary" onclick="sendReceiverInfo()">
                    </form>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
                </div>
        </div>
    </div>
</div>

{{ msg_history|json_script:"msgHistory" }}
<script>
    const msgHistory = JSON.parse(document.getElementById('msgHistory').textContent);
    let chatLog = document.querySelector('#chat-log');

    if (msgHistory != null) {
        for (let i=0; i<msgHistory.length; i++) {
            msg = msgHistory[i];

            const sender = msg.sender;
            const content = msg.content;
            const me = msg.me;
            
            if (sender == null) { // 입장 메시지, 퇴장 메시지
                chatLog.innerHTML += ('<div class="in-out-msg-div"><p class="in-out-msg">' + content + '</p></div>');
            } else if (me) { // 내가 보낸 메시지
                chatLog.innerHTML += ('<div class="msg-div mine-div"><p class="msg mine">' + content + '</p></div>');
            } else { // 남이 보낸 메시지
                chatLog.innerHTML += ('<div class="msg-div"><div class="user"><div class="profile"></div><span class="name" data-bs-toggle="modal" data-bs-target="#exampleModal" onclick="clickName(this)">' + sender + '</span></div><p class="msg">' + content + '</p></div>');
            }
        }
    }
</script>

{{ room_uuid|json_script:"room-uuid" }}
<script>
    const roomUuid = JSON.parse(document.getElementById('room-uuid').textContent);

    type = 'recon';
    if (chatLog.innerHTML == '') {
        type = 'initial';
    }

    const chatSocket = new WebSocket(
        'ws://'
        + window.location.host
        + '/ws/chat/'
        + roomUuid
        + '/?type='
        + type
    );

    // onmessage 이벤트: 클라이언트가 websocket 서버로부터 데이터를 수신했을 때
    chatSocket.onmessage = function(e) {
        console.log('클라이언트가 websocket 서버로부터 메시지를 받았습니다.');

        const data = JSON.parse(e.data);

        let chatLog = document.querySelector('#chat-log');
        if (data.name == 'Anonymous') {
            chatLog.innerHTML += ('<div class="in-out-msg-div"><p class="in-out-msg">' + data.message + '</p></div>');
        } else if (data.me == true) {
            chatLog.innerHTML += ('<div class="msg-div mine-div"><p class="msg mine">' + data.message + '</p></div>');
        } else {
            chatLog.innerHTML += ('<div class="msg-div"><div class="user"><div class="profile"></div><span class="name" data-bs-toggle="modal" data-bs-target="#exampleModal" onclick="clickName(this)">' + data.name + '</span></div><p class="msg">' + data.message + '</p></div>');
        }

        makeBtnInActive();
        scroll_down();
    };

    // onclose 이벤트: 클라이언트와 websocket 서버와의 연결이 닫힐 때. 정상적 종료 + 비정상적 종료일 때 모두 발생
    chatSocket.onclose = function(e) {
        console.log('chatSocket에 onClose 이벤트 발생!');
    };

    document.querySelector('#chat-message-input').focus();
    document.querySelector('#chat-message-input').onkeyup = function(e) {
        if (e.key === 'Enter') {  // enter, return
            document.querySelector('#chat-message-submit').click();
        }
    };

    document.querySelector('#chat-message-submit').onclick = function(e) {
        const messageInputDom = document.querySelector('#chat-message-input');
        const message = messageInputDom.value;

        chatSocket.send(JSON.stringify({
            'message': message
        }));

        messageInputDom.value = '';
    };

    document.querySelector('#chat-room-leave').onclick = function(e) {
        // 클라이언트에서 WebSocket 연결 끊기 -> 클라이언트와 서버 간의 WebSocket 연결 종료
        chatSocket.close();
    };
</script>
<script>
    const chatMsgInput = document.getElementById('chat-message-input');
    const chatMsgSubmit = document.getElementById('chat-message-submit');

    // input 이벤트: 사용자가 textarea 내부에 텍스트를 입력, 삭제, 수정할 때 발생
    chatMsgInput.addEventListener("input", () => {
        if (chatMsgInput.value.length === 0) {
            makeBtnInActive();
        } else {
            makeBtnActive();
        }
    });

    function makeBtnInActive() {
            chatMsgSubmit.style.backgroundColor = 'rgb(240, 240, 240)';
            chatMsgSubmit.style.color = 'rgb(163, 162, 162)';
            chatMsgSubmit.disabled = true;
    }

    function makeBtnActive() {
            chatMsgSubmit.style.backgroundColor = 'rgb(255, 230, 0)';
            chatMsgSubmit.style.color = 'black';
            chatMsgSubmit.disabled = false;
    }
</script>
<script>
    function clickName(spanName) {
        const receiverAnonName = document.querySelector('.receiver-anon-name');
        receiverAnonName.innerText = spanName.innerText;
    }
    
    function sendReceiverInfo() {
        const receiverAnonName = document.querySelector('.receiver-anon-name');
        const anonName = document.querySelector('.anon-name');
        const roomUuid = document.querySelector('.room-uuid');

        anonName.setAttribute('value', receiverAnonName.innerText);
        roomUuid.setAttribute('value', window.location.pathname.substr(6));
    }
</script>
<script>
    function scroll_down() {
        chatLog.scrollTop = chatLog.scrollHeight;
    }

    // 페이지가 로드될 때, 스크롤을 항상 맨 아래로 이동
    window.onload = function() {
        scroll_down();
    };
</script>
{% endblock %}

<!-- 
    URL 변경/페이지 전환 => websocket 서버와의 연결 종료
    이전 페이지와 관련된 자원들은 unload되고, 이로 인해 websoket 서버와의 연결이 종룔된다.
    이전 페이지와 관련된 자바스크립트 객체 및 연결도 초기화될 가능성이 있다.
-->