{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Taxi Roka</title>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/user/main.css' %}">

</head>

<body>
    <div class="main-right">
        <main>
            <div class="mobile-container">
                {% block content %}
                {% endblock %}
            </div>

          
        </main>
    </div>
    <script src="https://kit.fontawesome.com/6fbcf91afd.js" crossorigin="anonymous"></script>
</body>
</html>
