{% extends './base.html' %}{% load static %}
{% block content %}

<div class="login-container">
    <form method="POST" action="{% url 'user:login' %}" class="login-form">
        {% csrf_token %}
    
        <h1 style="font-size: 0;">
            Taxi Roka
            <img src="{% static 'img/loginlogo.png' %}" alt="메인페이지 로고사진">
        </h1>
    
    
        <div class="login-container">
            <div class="input-group">
                <i class="fa-solid fa-user"></i>
                <input
                    type="text"
                    class="form-control"
                    name="id"
                    placeholder="아이디를 입력하세요"
                />
            </div>
            <div class="input-group">
                <i class="fa-solid fa-lock"></i>
                <input
                    type="password"
                    class="form-control"
                    name="password"
                    placeholder="비밀번호를 입력하세요"
                />
            </div>
            <button type="submit">로그인</button>
        </div>
    </form>
</div>
{% endblock %}