{% extends './base.html' %}{% load static %}
<!-- base.html -->
<link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">

{% block content %}
{% load socialaccount %}
    <div class="main-container">
       
        <h1 style="font-size: 0;">
            Taxi Roka
            <img src="{% static 'img/loginlogo_.png' %}" alt="메인페이지 로고사진">
        </h1>
    
        <a href="/user/login" class="btn">로그인</a>
        <a href="/user/signup" class="btn">회원가입</a>
    
        <span>---------or sign up with---------</span>
        <div class="social-container">
           <!-- <button class="social-btn">
                <a href="javascript:loginWithKakao()">
                    <img src="{% static 'img/kakao.png' %}" alt="카카오 소셜 로그인">
                </a>
                <script
                    src="https://t1.kakaocdn.net/kakao_js_sdk/2.3.0/kakao.min.js"
                    integrity="sha384-70k0rrouSYPWJt7q9rSTKpiTfX6USlMYjZUtr1Du+9o4cGvhPAWxngdtVZDdErlh"
                    crossorigin="anonymous"
                ></script>
            <script>
                    Kakao.init("84e76cfc6609805ff7d488ed7c33f4f9"); // 사용하려는 앱의 JavaScript 키 입력
                    Kakao.isInitialized();
                </script>
            
                <p id="token-result"></p>
            
                <script>
                    function loginWithKakao() {
                    Kakao.Auth.authorize({
                        // redirectUri: "http://127.0.0.1:8000/user/kakao/redirect",
                        redirectUri: "https://taxiroka.p-e.kr/user/kakao/redirect",

                    });
                    }
                </script>
	   </button> -->
            <!-- 구글 소셜 로그인 버튼 -->
            <form action="{% provider_login_url 'google' %}" method="post" class="login__google Flex_cc">
                {% csrf_token %}
                <button class="social-btn" type="submit">
                    <img src="{% static 'img/google.png' %}" alt="구글소셜 로그인">
                </button>
            </form>
        </div>
    
        
    </div>

{% endblock %}
