{% extends 'base.html' %}{% load static %}
{% block content %}

<div class="logout-container">
  <form method="POST" action="{% url 'user:modify' %}">
      {% csrf_token %}
      <h1>회원정보 수정</h1>
    <!--이메일은 수정 못하게-->
      <div class="form-group">
        <label for="inputEmail3">이메일</label>
        <input type="email" class="form-control" id="inputEmail3" name="email" value="{{ user.email }}" disabled/>
      </div>
  
      <div class="form-group">
        <label for="inputPassword3">비밀번호</label>
        <input
          type="password"
          class="form-control"
          id="inputPassword3"
          name="password"
          value="********"
          disabled
        />
      </div>
      <div class="form-group">
        <label for="inputPassword3">비밀번호 확인</label>
        <input
          type="password"
          class="form-control"
          id="confirminputPassword3"
          name="confirm_password"
          value="********"
          disabled
        />
      </div>
      <div class="form-group">
        <label for="id_first_name">이름</label>
        <input type="text" class="form-control" id="id_first_name" name="first_name" value="{{ user.first_name }}" required/>
      </div>
      <div class="form-group">
        <label for="inputPhone">전화번호</label>
        <input type="tel" class="form-control" id="inputPhone" name="phone" value="{{ user.phone }}" required/>
      </div>
      <div class="form-group">
        <label for="inputLocation">부대위치</label>
        <select class="form-control" id="inputLocation" name="location">
          <option value="Sangmudae" {% if user.location == "Sangmudae" %}selected{% endif %}>상무대</option>
        </select>
      </div>
      <div class="modify-button">
      <button type="submit" id="signupBtn">수정완료</button>
      </div>
  </form>
  

  <div id="myModal" class="modal" style="display: none;">
    <div class="modal-content">
        <span class="close">&times;</span>
        <p>회원정보 수정이 완료되었습니다!</p>
    </div>
  </div>

</div>

      
  


    

<!-- 모달 HTML -->
<div id="modalMismatchPassword" class="modal" style="display: none;">
  <div class="modal-content">
    <span class="close">&times;</span>
    <p>비밀번호가 일치하지 않습니다. <br><br>다시 확인해주세요.</p>
  </div>
</div>

<div id="modalEmptyFields" class="modal" style="display: none;">
  <div class="modal-content">
    <span class="close">&times;</span>
    <p>모든 필드를 입력해주세요.</p>
  </div>
</div>

<div id="modalShortPassword" class="modal" style="display: none;">
  <div class="modal-content">
    <span class="close">&times;</span>
    <p>비밀번호는 8자리 이상이어야 합니다. <br><br>다시 확인해주세요.</p>
  </div>
</div>

<div id="modifySuccessModal" class="modal" style="display: none;">
  <div class="modal-content">
    <span class="close">&times;</span>
    <p>회원정보 수정이 완료되었습니다!</p>
  </div>
</div>



<style>
.logout-container {
  display: flex;
  justify-content: center;
}

.logout-container button {
  background-color: var(--button-color);
  color: white;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-bottom: 10px; 
  border-radius: 15px;
}

.modify-button {
  margin-top: 50px;
  text-align: center;
}

.logout-container h1 {
  text-align: center;
  margin-bottom: 40px;
}
.form-group {
  margin-top: 20px;
}
/* 부대위치 입력 박스 스타일 */
.form-group #inputLocation {
      background-color: #f5f5f5; 
      border: 1px solid #101010; 
      padding: 8px; 
      width: 100%; 
      border-radius: 10px; 
      font-size: 14px;
      cursor: pointer; 
      margin-bottom: 10px;
  }  

.signup-error-messages {
    color: red;
    font-size:10px;
    margin-top: 6px;
    text-align: center;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  align-items: center;
  justify-content: center;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}



</style>
<script>
const form = document.querySelector('form');
const modalEmptyFields = document.getElementById('modalEmptyFields');
const modifySuccessModal = document.getElementById('modifySuccessModal');

form.addEventListener('submit', (event) => {
  const inputs = form.querySelectorAll('input, select');
  let allFieldsFilled = true;

  inputs.forEach((input) => {
    if (!input.value) {
      allFieldsFilled = false;
    }
  });

  if (!allFieldsFilled) {
    event.preventDefault(); 
    modalEmptyFields.style.display = 'block';
  } else {
    // 모든 필드가 입력되었을 때만 수정 성공 모달을 나타냅니다.
    modifySuccessModal.style.display = 'block';
    setTimeout(() => {
      modifySuccessModal.style.display = 'none';
    }, 3000);
  }
});

// 외부 클릭시 모달 닫기 이벤트 리스너 추가
const modals = document.querySelectorAll('.modal');
modals.forEach((modal) => {
  modal.addEventListener('click', (event) => {
    if (event.target === modal) {
      modal.style.display = 'none';
    }
  });

  const closeButton = modal.querySelector('.close');
  closeButton.addEventListener('click', () => {
    modal.style.display = 'none';
  });
});


  
</script>-->

<script>
  const form = document.querySelector('form');
  const modalEmptyFields = document.getElementById('modalEmptyFields');
  const modifySuccessModal = document.getElementById('modifySuccessModal');

  form.addEventListener('submit', async (event) => {
    event.preventDefault();

    const inputs = form.querySelectorAll('input, select');
    let allFieldsFilled = true;

    inputs.forEach((input) => {
      if (!input.value) {
        allFieldsFilled = false;
      }
    });

    if (!allFieldsFilled) {
      modalEmptyFields.style.display = 'block';
    } else {
      // 서버에 수정 요청 전송
      const response = await fetch(form.action, {
        method: 'POST',
        body: new FormData(form),
        headers: {
          'X-CSRFToken': '{{ csrf_token }}',
        },
      });

      if (response.ok) {
          // 성공적으로 수정되었을 때 모달 띄우기
          // modifySuccessModal.style.display = 'block';
          setTimeout(() => {
            modifySuccessModal.style.display = 'none'; 
          }, 5000); // 5초 후에 모달을 자동으로 닫도록 설정
      } else {
          // 에러 처리
      }
    }
  });

  // 외부 클릭시 모달 닫기 이벤트 리스너 추가
  const modals = document.querySelectorAll('.modal');
  modals.forEach((modal) => {
    modal.addEventListener('click', (event) => {
      if (event.target === modal) {
        modal.style.display = 'none';
      }
    });

    const closeButton = modal.querySelector('.close');
    closeButton.addEventListener('click', () => {
      modal.style.display = 'none';
    });
  });
</script>


<script src="{% static 'js/signup.js' %}"></script>
{% endblock %}