{% extends './base.html' %}{% load static %}
{% block content %}

<div class="logout-container">
  <form method="POST" action="{% url 'user:signup' %}">
      {% csrf_token %}
      <h1>회원가입</h1>
      <div class="signup-error-messages">
        {% for message in messages %}
          <ul>
            {{ message }}
          </ul>
        {% endfor %}
    </div>
      <div class="form-group">
        <label for="inputEmail3">이메일</label>
        <input type="email" class="form-control" id="inputEmail3" name="email" />
      </div>
      <div class="form-group">
        <label for="inputPassword3">비밀번호</label>
        <input
          type="password"
          class="form-control"
          id="inputPassword3"
          name="password"
        />
      </div>
      <div class="form-group">
        <label for="inputPassword3">비밀번호 확인</label>
        <input
          type="password"
          class="form-control"
          id="confirminputPassword3"
          name="confirm_password"
        />
      </div>
      <div class="form-group">
          <label for="id_first_name">이름</label>
          <input type="text" class="form-control" id="id_first_name" name="first_name" />
        </div>
      <div class="form-group">
        <label for="inputPhone">전화번호</label>
        <input type="tel" class="form-control" id="inputPhone" name="phone" />
      </div>
      <div class="form-group">
        <label for="inputLocation">부대위치</label>
        <select class="form-control" id="inputLocation" name="location">
          <option value="Sangmudae">상무대</option>
        </select>
      </div>
      
      <button type="submit" id="signupBtn">회원가입</button>
  </form>
  
<!-- 나중에 style 빼기 -->
  <div id="myModal" class="modal" style="display: none;">
    <div class="modal-content">
        <span class="close">&times;</span>
        <p>회원가입이 완료되었습니다!</p>
    </div>
  </div>

</div>


    

<!-- 모달 HTML -->
<div id="modalMismatchPassword" class="modal" style="display: none;">
  <div class="modal-content">
    <span class="close">&times;</span>
    <p>비밀번호가 일치하지 않습니다. <br><br>다시 확인해주세요.</p>
  </div>
</div>

<div id="modalEmptyFields" class="modal" style="display: none;">
  <div class="modal-content">
    <span class="close">&times;</span>
    <p>모든 필드를 입력해주세요.</p>
  </div>
</div> 

<div id="modalShortPassword" class="modal" style="display: none;">
  <div class="modal-content">
    <span class="close">&times;</span>
    <p>비밀번호는 8자리 이상이어야 합니다. <br><br>다시 확인해주세요.</p>
  </div>
</div>

<!-- 모달 CSS -->
<style>

.signup-error-messages {
    color: red;
    font-size:10px;
    margin-top: 6px;
    text-align: center;
      }

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  align-items: center;
  justify-content: center;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  position: fixed;
  top: 50%;
  left: 55%;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

</style>

<script src="{% static 'js/signup.js' %}"></script>
{% endblock %}